src/power/PowerRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://schemas.hu.fnt.nl/berichten/request"
  targetNamespace="http://schemas.hu.fnt.nl/berichten/request">
  <xs:element name="stdrequest" type="tns:request" />
  <xs:complexType name="request" >
      <xs:attribute name="listvalues" >
          <xs:simpleType>
              <xs:list itemType="xs:double"/>
          </xs:simpleType>
      </xs:attribute>
  </xs:complexType>
</xs:schema>